/* Put your CSS here */
@viewport{height:device-height}
@viewport{width:device-width}
@-ms-viewport{height:device-height}
@-ms-viewport{width:device-width}

html, body {
    margin: 20px;
}

body {
  overflow: auto;
  -ms-content-zooming: none;
}

/* Content */
#content {
  margin-top: 20px;
  margin-bottom: 90px;
}

#contentWrapper {
  width: 99%;
  margin: 0 auto;
}

.ui-listview {
  margin: 10px!important;  
}

.ui-body-a {
  border: none!important;
}

#loaderBar {
  display: block; 
  background-color: #FAFAFA;
  color: #2489ce;
  text-align: center;
  width: 98%;
  margin: 0 auto;
}

#loaderActionView {
  line-height: 64px;
  vertical-align: middle;
}

#loaderActionView i {
  color: #ABABAB;
}

#loaderText {
  line-height: 64px;
  vertical-align: middle;
  color: #2489ce;
}


  