/* Put your CSS here */
@viewport{height:device-height}
@viewport{width:device-width}
@-ms-viewport{height:device-height}
@-ms-viewport{width:device-width}

html, body {
    margin: 20px;
}

body {
  overflow: hidden;
  -ms-content-zooming: none; }

/* Content */
#content {
  margin-top: 30px;
}

#contentWrapper {
  width: 99%;
  margin: 0 auto;
}

.ui-listview {
  margin: 10px!important;  
}

.ui-body-a {
  border: none!important;
}